# Alternative Eddy-Current Probe Configuration (Cartographer3D / BTT Eddy)
#
# If you choose to install an Eddy-current or Beacon probe instead of the stock
# nozzle load cell, comment out [load_cell] & [load_cell_probe] in printer.cfg
# and include this file.

# [scanner] # (or [probe_eddy_current] depending on probe brand)
# canbus_uuid: ...
# x_offset: 0.0
# y_offset: 21.5
# z_offset: 0.0
# sensor_type: ldc1612
# speed: 40.0
# lift_speed: 5.0
# samples: 1
# samples_result: average
